@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .badge {
    @apply inline-flex items-center justify-center rounded-full text-sm px-2 py-1 bg-red-600 text-white;
  }
}